<h1>Techbase</h1>
<h4>Crowsourcing programming information</h4>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
  <br>
</ul>

<hr>
{{new-question saveQuestion2="saveQuestion3"}}
<hr>
<br>

{{#link-to 'about'}}Click here to learn about us.{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
