<h2>Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
  <br>
</ul>
<hr>
<h4>Don't see a topic your are looking for? Create a new one!<h4>

{{new-question saveQuestion2="saveQuestion3"}}
